__pycache__/
*.zip
debug_output/
debug_outputs/
pack/
data/
data/cifar-10-python.tar.gz
data/cifar-10-python.tar.gz
# model checkpoints
*.pth

# summaries
*.json

# quick experiments
*.ipynb
quicktest.py